<%- include('partials/header'); -%>

<form action="/signup">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Login</button>
  <p>Don't have an account? <span><a href="/signup">Sign up</a></span></p>
</form>

<%- include('partials/footer'); -%>

<script>
  
</script>